.home_style h1   {
    text-shadow: 2px 2px 8px #000000;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size:100px;

}

.home_style p    {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px #000000;


}

.home_style{
    background: url("https://cdn.pixabay.com/photo/2017/12/10/14/47/piza-3010062_960_720.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_style h3{
    color: white;
    text-shadow: 2px 2px #000000;
}