h4{
    font-size: 30px;
    text-align: center;
    color: orangered;
}

p{
    color: orangered;
}

body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/img/burrito-chicken-delicious-dinner-461198.jpg');
}
.form-group{
    color:black;
    background-color: #FFC312;
    witdh: 10px;
}
.form-check-label{
    color: white;
}
.links{
    font:20px;
    color: white;
}
.form-check{
    text-align: center;
}



.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-field{
    width: 100%;
    padding: 10px;
    outline: none;
}