.bg_img div h4{
    color: #FFC312;
    text-align: center;
    font-size: 30px;
}

.bg-img{
    height: 100%;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/static/img/burrito-chicken-delicious-dinner-461198.jpg');
}


.bg_img form div{
    position: absolute;
    padding: 16px;
    background-color: gray;
    max-width: 300px;
    right: 20px;
}

.bg_img label{
    color: #FFC312;
}

.bg_img input[type=text], .bg_img input[type=password]{
    width: 100%;
    padding: 5px;
    border: none;
    margin: 5px 0 5px 0;
}

.register-btn{
    width: 100%;
    text-align: center;
    background-color: #FFC312;
    color: black;
    padding: 10px 15px;
    border: none;
    opacity: 0.9;
}

.register-btn:hover{
    opacity: 1;
}
