<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href='/static/css/basestyle.css'/>
        {% if title %}
        <title>{{title}}</title>

        {% else %}
        <title>Home</title>
        {% endif %}
    </head>

    <div>
        <ul>

            <li><a href="{{url_for('home')}}"><i class="fas fa-home"></i> Home</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% else %}
            <li><a href="{{url_for('ingredients')}}">Ingredients</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <body>
       <hr>
       {% block content %}{% endblock %}
    </body>
</html>