<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        {% if title %}
        <title>{{title}}</title>

        {% else %}
        <title>Home</title>
        {% endif %}
    </head>

    <div>
        <i style='font-size:24px' class='fas'>&#xf015;</i>
        <a href="{{url_for('home')}}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{url_for('login')}}">Login</a>
        {% else %}
        <a href="{{url_for('ingredients')}}">Ingredients</a>
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}

    </div>
    <body>
       <hr>
       {% block content %}{% endblock %}
    </body>
</html>