{% extends 'base.html' %}

{% block content %}
<div class="home_style">
                <h1>Broke 'n Hungry</h1>
                <div class="about_container">
                        <h3>About Us:</h3>
                        <p>Many of us have ingredients and food items in stock but
                                are not sure on the available and creative ways
                                to make dishes. Broke 'n Hungry will take in a
                                list of your ingredients and food items and
                                present you with recipes that you can make!
                        </p>
                </div>
</div>

{% endblock %}
