{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href='/static/css/ingredientstyle.css'/>
</head>

    <body>
        <h1>Hey {{current_user.username}}!</br>Here's Your Virtual Pantry</h1>
        <a href="{{url_for('stock_pantry') }}">Stock Pantry</a>
        {% if pantry %}
            <ul class="ingredient_list">
            {% for item in pantry %}
                <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h2>Your Pantry is Empty</h2>
        {% endif %}
    </body>
{% endblock %}