{% extends 'base.html' %}

{% block content %}

        <h4>Login</h4>
        <a href="{{url_for('register')}}">Make an Account</a>

        
        <form action='' method="post" novalidate>
            {{form.hidden_tag()}}
            <p>
               {{form.email.label}}<br>
               {{form.email(size = 32)}}<br>
               {% for error in form.email.errors %}
               <span style="color: red;">[{{error}}]</span>
               {% endfor %}
            </p>

            <p>
                {{form.password.label}}<br>
                {{form.password(size = 32)}}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>

            <p>
                {{form.remember}} {{form.remember.label}}
            </p>

            <p>
                {{form.submit}} 
            </p>
            <p>
                New User? <a href="{{url_for('register') }}">Register here!</a>
            </p>
        </form>
        
{% endblock %}