{% extends 'base.html' %}

{% block content %}
<div class="stock_pantry_img">
    <div class="stock_pantry">
    <h1>Stock Your Pantry</h1>

    <form method = 'POST'>
        {{ form.category }}
        {{ form.name }}
        {{ form.submit }}
    </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            {% if category == "stock_error" %}
            <li class="error">{{message}}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    <script>
        let category_select = document.getElementById('category');
        let name_select = document.getElementById('name');

        category_select.onchange = function(){
            category = category_select.value;

            fetch('/get_items/' + category).then(function(response){
                response.json().then(function(data){

                    let optionHTML = '';

                    for(let item of data.items){
                        optionHTML += '<option value="' + item.id + '">' + item.name + '</option>';
                    }

                    name_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    </div>
</div>
{% endblock %}




